<h2 mat-dialog-title class="ms-3">Editar</h2>
<hr>
<form [formGroup]="regForm" (ngSubmit)="editUser()">
    <div mat-dialog-content class="my-5">
        <div class="form-group mb-3">
            <label for="nombre" class="ms-3">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control campo m-auto" formControlName="nombre">
            <small
                *ngIf="regForm.get('nombre').hasError('required') && (regForm.get('nombre').dirty || regForm.get('nombre').touched); else elseBlock"
                class="text-danger">
                *El campo es requerido
            </small>
            <small *ngIf="regForm.get('nombre').hasError('minlength')" class="text-danger">
                *Minimo 3 caracteres
            </small>
            <ng-template #elseBlock>
                <pre> </pre>
            </ng-template>
        </div>
        <div class="form-group mb-3">
            <label for="activo" class="ms-3 d-block">Estado activo</label>
            <div class="form-check form-check-inline ms-3">
                <input class="form-check-input" type="radio" name="activo" id="activo1" formControlName="activo" value="si">
                <label class="form-check-label" for="activo1">Sí</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="activo" id="activo2" formControlName="activo" value="no">
                <label class="form-check-label" for="ativo2">No</label>
            </div>
        </div>
        <div class="form-group" formGroupName="rol"> 
            <label for="" class="d-block ms-3">Rol</label>
            <div class="form-check form-check-inline ms-3">
                <input class="form-check-input" type="radio" name="idRol" id="rol1" formControlName="idRol"
                    [value]="roles.ADMINISTRADOR">
                <label class="form-check-label" for="rol1">Administrador</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="idRol" id="rol2" formControlName="idRol"
                    [value]="roles.AUDITOR">
                <label class="form-check-label" for="rol2">Auditor</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="idRol" id="rol3" formControlName="idRol"
                    [value]="roles.AUXILIAR">
                <label class="form-check-label" for="rol3">Auxiliar</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group botones" mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="false" class="btn btn-warning me-4">
            <i class="fas fa-times"></i> Cerrar
        </button>
        <button mat-button [mat-dialog-close]="true" type="submit" class="btn btn-success" [disabled]="!regForm.valid">
            <i class="fa fa-arrow-right"></i> Registrarse
        </button>
    </div>
</form>